<!-- base.htmlを引き継ぐ -->
{% extends "time_management_app/base.html" %}
<!-- タイトルブロック -->
{% block title %}Login{% endblock %}
<!-- コンテンツブロック -->
{% block content %}

<!-- mt: mergin top  mb: mergin bottom -->
<h1 class="h1 mt-2 mb-3 font-weight-normal">Login</h1>
<!-- 文字を中央揃えに -->
<div class="text-center">
    <form action="" method="POST">
        <!-- card/card-bodyにより外枠が表示される -->
        <div class="card">
            <div class="card-body">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field.label }}
                    <br>
                    {{ field }}
                    <br>
                    {{ field.errors }}
                {% endfor %}
                <br>
            <!-- btn-primary:青色ボタン -->
            <button class="btn btn-primary btn-lg btn-block" type="submit">ログイン</button>
            <a href="{% url 'time_management_app:signup' %}"class="btn btn-primary btn-lg btn-block">サインアップ</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}