<!-- base.htmlを引き継ぐ -->
{% extends "time_management_app/base.html" %}
<!-- タイトルブロック -->
{% block title %}Login{% endblock %}
<!-- コンテンツブロック -->
{% block content %}
    <!-- <table class = "table"> -->
       <!-- <thead>
           <tr>
                <td> 日 </td>
                <td> 開始時刻 </td>
                <td> 終了時刻 </td>
                <td> 勤務時間 </td>
                <td> 稼働時間 </td>
                <td> 休憩時間 </td>
                <td> 時間外休憩時間 </td>
                <td> 予定 </td>
                <td> 進捗・課題 </td>
                <td> 勤務パターン </td>
                <td> </td>
            </tr>
        </thead> -->
        <!-- <tbody> -->
        {% for key, value in calendar_data.items %}
            <!-- <tr> -->
                {{ key }}<br>
                {{ value.weekday }}<br>
            <!-- </tr > -->
            <!-- <form method = "post">
            <tr>
                <td> {{ m }}日({{ m.weekday }})</td>
                <td> <input type="time"></td>
                <td> <input type="time"></td>
                <td> <input type="time"></td>
                <td> <input type="time"></td>
                <td> <input type="time"></td>
                <td> <input type="time"></td>
                <td> <input></td>
                <td> <input></td>
                <td> <input></td>
                <td> <button type="submit">送信</button></td>
            </tr >
            </form > -->
        {% endfor %}
        <!-- </tbody> -->
    <!-- </table> -->
    <a href = "{% url 'time_management_app:login' %}" class="btn btn-primary btn-lg btn-block">ログアウト</a>
{% endblock %}
